.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.title {
  font-size: 3rem;
}

.smallText {
  font-size: .8rem;
  color: rgba(255, 255, 255, .6);
}
